*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#e9e7e7 ;
}

aside{
  width: 20rem;
  height: 100vh;
  background-color: #f4f4f4;
  color: #444;
  padding: 2rem;
}
img{
  width:100px ;
  height: 100px ;
  background-color: white;
  margin-bottom: 2rem;
}

h1{
  color: black;
  justify-content: center;
  background-color: #f4f4f4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
p{
  background-color: #f4f4f4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  margin-left: 5rem;
  margin-top: .5rem;
}
button{
  width: 14rem;
  height: 3rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  background-color: purple;
  margin-top: .5rem;
  border-radius: 1rem;
}

button:hover{
  background-color: #444;
}

.SideIcons{
   list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    font-weight: 650;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.SideIcons li i{
  color: purple;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 20px;
}

li:hover{
  background-color: #cfcece;
  margin-right: 2rem;
  border-radius: .5rem;
  height: 4rem;
}

.nav-bar{
  position: absolute;
  margin-left: 22rem;
  top: 0;
  display: flex;
  border-bottom: 2rem;
  width: 100%;
  background-color: #f4f4f4;
}

.placeholder{
  width: 30rem;
  height: 2.5rem;
  align-items:center;
  color: #444;
  justify-content: center;
  margin-left: 20rem;
}





