/* body{
    background-color: bisque;
}
h1{
    margin-left: 100px;
    border-bottom: 1px solid orange;
}
h2{
    margin-left: 100px;
}
img{
    float: right;
} */
 /* h2{
    border-bottom: 1px solid;

 } */
body{
    background-color: rgb(95, 95, 250);
}  